whatsapp-linga.json
{
  "name": "WhatsApp Linga",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-linga",
        "options": {}
      },
      "name": "Webhook Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-linga-get"
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseMode": "lastNode",
        "responseData": "={{$json[\"query\"][\"hub.challenge\"]}}"
      },
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-linga",
        "options": {}
      },
      "name": "Webhook Messages (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 600],
      "webhookId": "whatsapp-linga-post"
    },
    {
      "parameters": {
        "functionCode": "const entry = items[0].json.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst message = changes?.value?.messages?.[0];\n\nif (!message) {\n  return [];\n}\n\nreturn [{\n  json: {\n    from: message.from,\n    text: message.text?.body || '',\n    wa_id: message.id\n  }\n}];"
      },
      "name": "Extract WhatsApp Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 600]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "users",
        "columns": "id,name,whatsapp_number",
        "filters": "whatsapp_number.eq.={{$json[\"from\"]}}"
      },
      "name": "Find Institution in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 600],
      "credentials": {
        "supabaseApi": {
          "url": "https://sxfimilragedoxxqmbht.supabase.co",
          "apiKey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZmltaWxyYWdlZG94eHFtYmh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMxODE5MTEsImV4cCI6MjA2ODc1NzkxMX0.AIYKLscgw8Jhhvnkt4l0wmvagQ4EtZPmXQDk3yBpt_U"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "system",
            "content": "Você é um assistente virtual de uma instituição. Responda às perguntas com base nos serviços que a instituição oferece. Se detectar que o usuário deseja agendar algo, responda 'AGENDAR' e peça confirmação."
          },
          {
            "role": "user",
            "content": "Mensagem: {{$json[\"text\"]}}\nInstituição: {{ $items(\"Find Institution in Supabase\")[0].json.name }}"
          }
        ]
      },
      "name": "OpenAI Process Message",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1000, 600],
      "credentials": {
        "openAIApi": {
          "apiKey": "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"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v17.0/709182228951613/messages",
        "method": "POST",
        "authentication": "headerAuth",
        "sendBody": true,
        "jsonBody": true,
        "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": $json[\"from\"], \"type\": \"text\", \"text\": { \"body\": $json[\"content\"] } }"
      },
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 600],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "Bearer EAAit7B1QfDABPAzOCNGJaVYRcfuSmqGxnHuzBRXqvPpZC3HZCTUMooUM42o0mh6FnmccR7klZAqpZBdkC7u8MDj2LOWrZCEgDz1iMvpRExV2xmEMg5qJQcDwUIWZCjX4OhzbXgfAOjwE019seNEYmOJZA4bwBrmZBmrIHcSPFAcxTaGNyyajadJprfuSuBZB7MpEeBZCrbiUMP5OVPUyYIj4otBVbc1eDAVguJ6IvdakRAYwZDZD"
        }
      }
    }
  ],
  "connections": {
    "Webhook Verify (GET)": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Messages (POST)": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Data": {
      "main": [
        [
          {
            "node": "Find Institution in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Institution in Supabase": {
      "main": [
        [
          {
            "node": "OpenAI Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Process Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "whatsapp-linga-flow"
}
